.alarm {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;

    .alarms {
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        color: white;
        min-height: 80px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .icon{
            margin-right: 20px;
            margin-left: 10px;
            color: rgb(255, 61, 61);
            font-size: 65px;
            bottom: 9px;
            animation: zoom-out 1s ease infinite;
        }
    
        .alarms-body {
            
            right: 35%;
            top: 10%;
            height: 50;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            min-height: 65px;
    
            .room_name {
                font-size: 20px;
            }
    
            .value {
                font-size: 15px;
                
            }
    
            .range{
                font-size: 10px;
                background-color: rgb(255, 255, 255);
                padding: 3px;
                border-radius: 5px;
                width: 70%;
                text-align: center;
                color: black;
                font-weight: 10px;
            }
    
        }
        .reset {
            
            width: 20%;
            min-height: 80px;
            background-color: rgb(255, 86, 86);
            color: rgb(255, 255, 255);
            padding: 5px;
            border-radius: 0px 10px 10px 0px;
            border: 0;
            font-size: 15px;
            margin-left: auto;
        }
    
    
    
    }
    .alarm-list-p {
        margin: 10px 0 10px 0px;
        font-size: larger;
        font-weight: bold;
    }
    
    .line  {
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid black;
    }
    
    .alarm-length {
        margin-top: 10px;
    }
}


@keyframes zoom-out {
    0% {
      transform: scale(0.5, 0.5);
    }
    50% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0.5, 0.5);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    .alarm {
        .alarms-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            .alarms {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                min-width: 30%;
                height: 200px;
                margin-right: 5px;
                margin-top: 10px;
                border-radius: 10px;
                
                .alarms-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    height: 40%;
                    .range {
                        text-align: center;
                        width: 200%;
                        font-size: 15px;
                        padding: 3px;
                        font-weight: 10px;
                    }
                }
                
                .reset {
                    margin-top: auto !important;
                    margin: 0px;
                    min-height: 20% !important;
                    width: 100%;
                    border-radius: 0 0 10px 10px;
                }
            }
        }
    }
  }