.devices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 600;
    width: 100%;

    h1 {
        margin-bottom: 10px;
    }

    .room {
        background-color: rgba(34, 122, 108, 0.74);
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style: none;
        min-height: 80;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        justify-content: space-between;
        margin-bottom: 10px;
        
        
        .room_name {
            color: white;
            font-size:x-large;
            margin-bottom: 5px;
        }

        li {
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
            padding: 5px;
            border-radius: 10px;
            margin-bottom: 5px;
        }
    }
    @media screen and (max-width: 1024px) {
        .devices{
            padding: 0px;
        }
    }

    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
    }
    .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #86c5b4;
    animation: prixClipFix 2s linear infinite ;
    }
    .loader::after{
    border-color: #c586a4;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
    }

    @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }
    
}